E-Recruitment Portal/Web References/ApplicantCard/ApplicantCard.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/applicantcard" targetNamespace="urn:microsoft-dynamics-schemas/page/applicantcard" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/applicantcard" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="Applicant_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="External" />
          <xsd:enumeration value="Internal" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Gender">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Female" />
          <xsd:enumeration value="Male" />
          <xsd:enumeration value="Joint" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Applicant_Status">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="New" />
          <xsd:enumeration value="Submitted" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Status">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Normal" />
          <xsd:enumeration value="Resigned" />
          <xsd:enumeration value="Discharged" />
          <xsd:enumeration value="Retrenched" />
          <xsd:enumeration value="Pension" />
          <xsd:enumeration value="Disabled" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Marital_Status">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Single" />
          <xsd:enumeration value="Married" />
          <xsd:enumeration value="Separated" />
          <xsd:enumeration value="Divorced" />
          <xsd:enumeration value="Widow_er" />
          <xsd:enumeration value="Other" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Ethnic_Origin">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="African" />
          <xsd:enumeration value="Indian" />
          <xsd:enumeration value="White" />
          <xsd:enumeration value="Coloured" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Disabled">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="No" />
          <xsd:enumeration value="Yes" />
          <xsd:enumeration value="_blank_" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Jobs_Applied">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Need_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Job" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Application_No" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Jobs_Applied_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Jobs_Applied" type="tns:Jobs_Applied" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="Education_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Primary" />
          <xsd:enumeration value="High_School" />
          <xsd:enumeration value="College" />
          <xsd:enumeration value="University" />
          <xsd:enumeration value="Professional" />
          <xsd:enumeration value="Vocational" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Education_Level">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Professional" />
          <xsd:enumeration value="Certificate" />
          <xsd:enumeration value="Diploma" />
          <xsd:enumeration value="Higher_Post_Graduate_Diploma" />
          <xsd:enumeration value="Bachelors_Degree" />
          <xsd:enumeration value="Masters_Degree" />
          <xsd:enumeration value="Doctorate" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Proficiency_Level">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Not_Rated" />
          <xsd:enumeration value="First_Class" />
          <xsd:enumeration value="Second_Class_Upper" />
          <xsd:enumeration value="Second_Class_Lower" />
          <xsd:enumeration value="Second_Class" />
          <xsd:enumeration value="Pass" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Applicant_Job_Education">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Start_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="End_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Education_Type" type="tns:Education_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Institution" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Education_Level" type="tns:Education_Level" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Field_of_Study" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qualification_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qualification_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Institution_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Proficiency_Level" type="tns:Proficiency_Level" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Country" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Region" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Highest_Level" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Grade" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Applicant_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Line_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Need_Code" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Applicant_Job_Education_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Applicant_Job_Education" type="tns:Applicant_Job_Education" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="Hierarchy_Level">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Consultant" />
          <xsd:enumeration value="Executive_Director" />
          <xsd:enumeration value="First_Level_Manager" />
          <xsd:enumeration value="Intern" />
          <xsd:enumeration value="Middle_Level_Manager" />
          <xsd:enumeration value="Supervisor" />
          <xsd:enumeration value="Support_Staff" />
          <xsd:enumeration value="Top_Level_Manager" />
          <xsd:enumeration value="Trainee_Attachee" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Applicant_Job_Experience">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Start_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="End_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Employer" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Industry" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Hierarchy_Level" type="tns:Hierarchy_Level" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Functional_Area" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Job_Title" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Present_Employment" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="No_of_Years" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Country" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Location" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Employer_Email_Address" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Employer_Postal_Address" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Applicant_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Line_No" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Applicant_Job_Experience_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Applicant_Job_Experience" type="tns:Applicant_Job_Experience" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Applicant_Job_Prof_Course">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qualification_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qualification_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Section_Level" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Applicant_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Line_No" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Applicant_Job_Prof_Course_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Applicant_Job_Prof_Course" type="tns:Applicant_Job_Prof_Course" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Applicant_Job_Prof_Membership">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Professional_Body" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="MembershipNo" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Applicant_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Line_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Need_Code" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Applicant_Job_Prof_Membership_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Applicant_Job_Prof_Membership" type="tns:Applicant_Job_Prof_Membership" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Internal" />
          <xsd:enumeration value="External" />
          <xsd:enumeration value="Previous_Position" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Qualification_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Academic" />
          <xsd:enumeration value="Professional" />
          <xsd:enumeration value="Technical" />
          <xsd:enumeration value="Experience" />
          <xsd:enumeration value="Personal_Attributes" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Applicant_Qualification">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Line_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Type" type="tns:Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qualification_Type" type="tns:Qualification_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qualification_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qualification" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Institution_Company" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="To_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="From_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Score" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qualified" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Need_Code" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Applicant_Qualification_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Applicant_Qualification" type="tns:Applicant_Qualification" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Applicant_x0027_s_Employment_History">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Line_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Institution_Company" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="From" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="To" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Position" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Application_No" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Applicant_x0027_s_Employment_History_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Applicant_x0027_s_Employment_History" type="tns:Applicant_x0027_s_Employment_History" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Referees">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Names" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Designation" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Company" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Address" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Telephone_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="E_Mail" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Line_No" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Referees_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Referees" type="tns:Referees" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Applicant_Hobbies">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Hobbies" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Line_No" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Applicant_Hobbies_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Applicant_Hobbies" type="tns:Applicant_Hobbies" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ApplicantCard">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Application_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Applicant_Type" type="tns:Applicant_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Employee_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="First_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Middle_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Last_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ID_Number" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Gender" type="tns:Gender" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Citizenship" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Employ" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Applicant_Status" type="tns:Applicant_Status" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Applied" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Status" type="tns:Status" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Marital_Status" type="tns:Marital_Status" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ethnic_Origin" type="tns:Ethnic_Origin" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Disabled" type="tns:Disabled" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Disabling_Details" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Date_Of_Birth" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Age" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cellular_Phone_Number" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="E_Mail" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Postal_Address" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Post_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Residential_Address" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="JobApplied" type="tns:Jobs_Applied_List" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Education" type="tns:Applicant_Job_Education_List" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Experience" type="tns:Applicant_Job_Experience_List" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ProfessionalCourses" type="tns:Applicant_Job_Prof_Course_List" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ProfessionalMembership" type="tns:Applicant_Job_Prof_Membership_List" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qualification" type="tns:Applicant_Qualification_List" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Control29" type="tns:Applicant_x0027_s_Employment_History_List" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Referees" type="tns:Referees_List" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Hobbies" type="tns:Applicant_Hobbies_List" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ApplicantCard_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="ApplicantCard" type="tns:ApplicantCard" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="ApplicantCard_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="No" />
          <xsd:enumeration value="Application_Date" />
          <xsd:enumeration value="Applicant_Type" />
          <xsd:enumeration value="Employee_No" />
          <xsd:enumeration value="First_Name" />
          <xsd:enumeration value="Middle_Name" />
          <xsd:enumeration value="Last_Name" />
          <xsd:enumeration value="ID_Number" />
          <xsd:enumeration value="Gender" />
          <xsd:enumeration value="Citizenship" />
          <xsd:enumeration value="Employ" />
          <xsd:enumeration value="Applicant_Status" />
          <xsd:enumeration value="Applied" />
          <xsd:enumeration value="Status" />
          <xsd:enumeration value="Marital_Status" />
          <xsd:enumeration value="Ethnic_Origin" />
          <xsd:enumeration value="Disabled" />
          <xsd:enumeration value="Disabling_Details" />
          <xsd:enumeration value="Date_Of_Birth" />
          <xsd:enumeration value="Age" />
          <xsd:enumeration value="Cellular_Phone_Number" />
          <xsd:enumeration value="E_Mail" />
          <xsd:enumeration value="Postal_Address" />
          <xsd:enumeration value="Post_Code" />
          <xsd:enumeration value="Residential_Address" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ApplicantCard_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:ApplicantCard_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="No" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ApplicantCard" type="tns:ApplicantCard" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ApplicantCard" type="tns:ApplicantCard" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:ApplicantCard_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:ApplicantCard_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ApplicantCard" type="tns:ApplicantCard" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ApplicantCard" type="tns:ApplicantCard" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ApplicantCard_List" type="tns:ApplicantCard_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ApplicantCard_List" type="tns:ApplicantCard_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ApplicantCard" type="tns:ApplicantCard" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ApplicantCard" type="tns:ApplicantCard" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ApplicantCard_List" type="tns:ApplicantCard_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ApplicantCard_List" type="tns:ApplicantCard_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_JobApplied">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="JobApplied_Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_JobApplied_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_JobApplied_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Education">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Education_Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Education_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Education_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Experience">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Experience_Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Experience_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Experience_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_ProfessionalCourses">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ProfessionalCourses_Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_ProfessionalCourses_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_ProfessionalCourses_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_ProfessionalMembership">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ProfessionalMembership_Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_ProfessionalMembership_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_ProfessionalMembership_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Qualification">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Qualification_Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Qualification_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Qualification_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Control29">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Control29_Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Control29_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Control29_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Referees">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Referees_Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Referees_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Referees_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Hobbies">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Hobbies_Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Hobbies_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Hobbies_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Read">
    <part name="parameters" element="tns:Read" />
  </message>
  <message name="Read_Result">
    <part name="parameters" element="tns:Read_Result" />
  </message>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Create">
    <part name="parameters" element="tns:Create" />
  </message>
  <message name="Create_Result">
    <part name="parameters" element="tns:Create_Result" />
  </message>
  <message name="CreateMultiple">
    <part name="parameters" element="tns:CreateMultiple" />
  </message>
  <message name="CreateMultiple_Result">
    <part name="parameters" element="tns:CreateMultiple_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <message name="Delete">
    <part name="parameters" element="tns:Delete" />
  </message>
  <message name="Delete_Result">
    <part name="parameters" element="tns:Delete_Result" />
  </message>
  <message name="Delete_JobApplied">
    <part name="parameters" element="tns:Delete_JobApplied" />
  </message>
  <message name="Delete_JobApplied_Result">
    <part name="parameters" element="tns:Delete_JobApplied_Result" />
  </message>
  <message name="Delete_Education">
    <part name="parameters" element="tns:Delete_Education" />
  </message>
  <message name="Delete_Education_Result">
    <part name="parameters" element="tns:Delete_Education_Result" />
  </message>
  <message name="Delete_Experience">
    <part name="parameters" element="tns:Delete_Experience" />
  </message>
  <message name="Delete_Experience_Result">
    <part name="parameters" element="tns:Delete_Experience_Result" />
  </message>
  <message name="Delete_ProfessionalCourses">
    <part name="parameters" element="tns:Delete_ProfessionalCourses" />
  </message>
  <message name="Delete_ProfessionalCourses_Result">
    <part name="parameters" element="tns:Delete_ProfessionalCourses_Result" />
  </message>
  <message name="Delete_ProfessionalMembership">
    <part name="parameters" element="tns:Delete_ProfessionalMembership" />
  </message>
  <message name="Delete_ProfessionalMembership_Result">
    <part name="parameters" element="tns:Delete_ProfessionalMembership_Result" />
  </message>
  <message name="Delete_Qualification">
    <part name="parameters" element="tns:Delete_Qualification" />
  </message>
  <message name="Delete_Qualification_Result">
    <part name="parameters" element="tns:Delete_Qualification_Result" />
  </message>
  <message name="Delete_Control29">
    <part name="parameters" element="tns:Delete_Control29" />
  </message>
  <message name="Delete_Control29_Result">
    <part name="parameters" element="tns:Delete_Control29_Result" />
  </message>
  <message name="Delete_Referees">
    <part name="parameters" element="tns:Delete_Referees" />
  </message>
  <message name="Delete_Referees_Result">
    <part name="parameters" element="tns:Delete_Referees_Result" />
  </message>
  <message name="Delete_Hobbies">
    <part name="parameters" element="tns:Delete_Hobbies" />
  </message>
  <message name="Delete_Hobbies_Result">
    <part name="parameters" element="tns:Delete_Hobbies_Result" />
  </message>
  <portType name="ApplicantCard_Port">
    <operation name="Read">
      <input name="Read" message="tns:Read" />
      <output name="Read_Result" message="tns:Read_Result" />
    </operation>
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Create">
      <input name="Create" message="tns:Create" />
      <output name="Create_Result" message="tns:Create_Result" />
    </operation>
    <operation name="CreateMultiple">
      <input name="CreateMultiple" message="tns:CreateMultiple" />
      <output name="CreateMultiple_Result" message="tns:CreateMultiple_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
    <operation name="Delete">
      <input name="Delete" message="tns:Delete" />
      <output name="Delete_Result" message="tns:Delete_Result" />
    </operation>
    <operation name="Delete_JobApplied">
      <input name="Delete_JobApplied" message="tns:Delete_JobApplied" />
      <output name="Delete_JobApplied_Result" message="tns:Delete_JobApplied_Result" />
    </operation>
    <operation name="Delete_Education">
      <input name="Delete_Education" message="tns:Delete_Education" />
      <output name="Delete_Education_Result" message="tns:Delete_Education_Result" />
    </operation>
    <operation name="Delete_Experience">
      <input name="Delete_Experience" message="tns:Delete_Experience" />
      <output name="Delete_Experience_Result" message="tns:Delete_Experience_Result" />
    </operation>
    <operation name="Delete_ProfessionalCourses">
      <input name="Delete_ProfessionalCourses" message="tns:Delete_ProfessionalCourses" />
      <output name="Delete_ProfessionalCourses_Result" message="tns:Delete_ProfessionalCourses_Result" />
    </operation>
    <operation name="Delete_ProfessionalMembership">
      <input name="Delete_ProfessionalMembership" message="tns:Delete_ProfessionalMembership" />
      <output name="Delete_ProfessionalMembership_Result" message="tns:Delete_ProfessionalMembership_Result" />
    </operation>
    <operation name="Delete_Qualification">
      <input name="Delete_Qualification" message="tns:Delete_Qualification" />
      <output name="Delete_Qualification_Result" message="tns:Delete_Qualification_Result" />
    </operation>
    <operation name="Delete_Control29">
      <input name="Delete_Control29" message="tns:Delete_Control29" />
      <output name="Delete_Control29_Result" message="tns:Delete_Control29_Result" />
    </operation>
    <operation name="Delete_Referees">
      <input name="Delete_Referees" message="tns:Delete_Referees" />
      <output name="Delete_Referees_Result" message="tns:Delete_Referees_Result" />
    </operation>
    <operation name="Delete_Hobbies">
      <input name="Delete_Hobbies" message="tns:Delete_Hobbies" />
      <output name="Delete_Hobbies_Result" message="tns:Delete_Hobbies_Result" />
    </operation>
  </portType>
  <binding name="ApplicantCard_Binding" type="tns:ApplicantCard_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/applicantcard:Read" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Read">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Read_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/applicantcard:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/applicantcard:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/applicantcard:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/applicantcard:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Create">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/applicantcard:Create" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Create">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Create_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/applicantcard:CreateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/applicantcard:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/applicantcard:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/applicantcard:Delete" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete_JobApplied">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/applicantcard:Delete_JobApplied" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete_JobApplied">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_JobApplied_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete_Education">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/applicantcard:Delete_Education" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete_Education">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Education_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete_Experience">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/applicantcard:Delete_Experience" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete_Experience">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Experience_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete_ProfessionalCourses">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/applicantcard:Delete_ProfessionalCourses" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete_ProfessionalCourses">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_ProfessionalCourses_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete_ProfessionalMembership">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/applicantcard:Delete_ProfessionalMembership" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete_ProfessionalMembership">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_ProfessionalMembership_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete_Qualification">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/applicantcard:Delete_Qualification" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete_Qualification">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Qualification_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete_Control29">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/applicantcard:Delete_Control29" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete_Control29">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Control29_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete_Referees">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/applicantcard:Delete_Referees" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete_Referees">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Referees_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete_Hobbies">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/applicantcard:Delete_Hobbies" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete_Hobbies">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Hobbies_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="ApplicantCard_Service">
    <port name="ApplicantCard_Port" binding="tns:ApplicantCard_Binding">
      <address location="http://agileoffice.agilebiz.co.ke:12347/KMRC/WS/KMRC%20TEST/Page/ApplicantCard" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>